body{

margin:0;

background:#0b0b0b;

font-family:Arial,sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.login{

width:340px;

text-align:center;

padding:30px;

background:#151515;

border-radius:20px;

box-shadow:0 0 30px rgba(255,120,0,.25);

}

.logo{

width:170px;

margin-bottom:20px;

}

h1{

color:#ff7a00;

margin-bottom:25px;

}

input{

width:100%;

padding:15px;

font-size:18px;

border:none;

outline:none;

border-radius:10px;

background:#222;

color:white;

box-sizing:border-box;

}

button{

margin-top:20px;

width:100%;

padding:15px;

font-size:18px;

font-weight:bold;

border:none;

border-radius:10px;

background:#ff7a00;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#ff9500;

}

#error{

margin-top:15px;

color:#ff3c3c;

font-weight:bold;

  }
